.App {
  display: flex;
  flex-direction: row;
  text-align: center;
  background-image: url('./fondo.jpg');
  background-size:cover;
  background-color: #16171a46;
  width: 100vw;
  height: 100vh;
  color: white;
  background-attachment:fixed;
  overflow:scroll
}

.nameAndSearch{
  background-color: #16171a46;
  width: 50%;
}

.search{
  margin-top: 25%;
  
}

.horas{
  color: white;
  font-size: 60px;
  margin-top: 25%;
}

.nameCity{
  
  color: white;
  font-size: 60px;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}


.cards{
  background-color: #16171a46;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
@media (max-width: 900px) {
  .App{
    display: flex;
    flex-direction: column;
  
  }
  .cards{
    background-color: #16171a46;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  .nameAndSearch{
    background-color: #16171a46;
    width:100vw;
    height: 100vh;
  }
  .horas{
    color: white;
    font-size: 40px;
    margin-top: 0%;
  }
  .search{
    margin-top: 1%;
  }
  .nameCity{
  
    color: white;
    font-size: 40px;
  }
  .Hourly{
    margin-top: 15px;
  }
  .Daily{
    margin-top: 15px;
  }
}

@media (max-width: 500px) {
  .App{
    width: 400px;
  }
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.Hourly{
  display: flex;
  flex-direction: row;
  overflow-x: auto;
  margin-right: 10px;
}

.Hourly::-webkit-scrollbar{
  
  background-color: rgba(255, 255, 255, 0.466);
}
.Hourly::-webkit-scrollbar-thumb{
  background-color: #444;
}
.Daily {
  display: flex;
  flex-direction: row;
  margin-right: 10px;
  overflow-x: auto;

}
.Daily::-webkit-scrollbar{
  
  background-color: rgba(255, 255, 255, 0.466);
}
.Daily::-webkit-scrollbar-thumb{
  background-color: #444;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
